@model IEnumerable<CarModel>

<ul>
    @foreach (CarModel carModel in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@carModel.Id">
                @carModel.Name @carModel.DailyPrice @carModel.NbSeats @carModel.FuelType @carModel.CarBrand?.Name
            </a>
        </li>
    }
</ul>